/* app css stylesheet */

html,
input {
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
  text-align:center;
  vertical-align:middle;
  -moz-border-radius:.25em;
  -webkit-border-radius:.25em;
  border-radius:.25em;
}

input[type="button"],input[type="submit"] {
  color:#E5FFE5;
  background-color:#007500;
  border:1px solid;
  border-color:#B5FFB5;
  display:inline-block;
  padding: 5px 10px;

}

input[type="button"]:hover,input[type="submit"]:hover{
  color:#C5FFC5;
  background-color:#004500;
}

input[type="button"]:active,input[type="submit"]:active{
  position:relative;
  top:2px;
}

.timer {
  font-size:300%;
}

.menu,
.tomato {
  background-color:#F0B2B2;
  /*background-color:#FF7373;*/
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

div title {
  color:limegreen;
}


