/* app css stylesheet */

html {
  /*background-image:url("images/800px-Tomato_scanned.jpg");*/
  background-image:url("images/800px-Green_Tomatoes_bg.jpg");
  background-size: cover;
  font-size:100%;
}

#mainLabel {
	font-size:1.5em;
}

html,
input {
  font-family:ralewaybold,Verdana, Geneva, "DejaVu Sans", sans-serif;
  text-align:center;
  vertical-align:middle;
  -moz-border-radius:.25em;
  -webkit-border-radius:.25em;
  border-radius:.25em;
}

input {
  color:rgba(255, 255, 255, 0.8);
}

input[type="button"],input[type="submit"] {
  color:#E5FFE5;
  background-color:rgba(0, 110, 0, .5);
  border:1px solid;
  border-color:#B5FFB5;
  display:inline-block;
  padding: 5px 10px;
  font-size: 1.2em;
}

input[type="button"]:hover,input[type="submit"]:hover{
  color:#C5FFC5;
  background-color:#004500;
}

input[type="button"]:active,input[type="submit"]:active{
  position:relative;
  top:2px;
}

.timeSetText {
  font-family:ubuntu_monobold, "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
  font-size:3.25em;
  background-color:rgba(0, 110, 0, .5);
  border-color:rgba(225, 225,225 , 0);
}

.timerText {
  font-family:ubuntu_monobold, "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
  font-size:3.25em;
}

.menu,
.tomato {
  background-color: rgba(236, 32, 73, 0.5);
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.greenRow {
  background-color: rgba(46, 209, 73, 0.5);
}

.quarterWidth {
	width:25%;
	margin: 0 auto;
	/*display:flex;*/
	justify-content:center;
}

.floatL {
	float:left;
}

.floatR {
	float:right;
}

.completed {
	font-size:1.5em;
}

.transWhiteBorder {
	border-color:rgba(226, 226, 226, 0.4);
	border-style:solid;
	border-width:3px;
}

.whiteText {
  color:rgba(255, 255, 255, 0.9);
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.9);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.9);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.9);
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.9);
}
