.bg-image-green {
  background-image:url("images/800px-Green_Tomatoes_bg.jpg");
  background-size:cover;
}

.timer_btn_container{
  padding:0 4px 0 4px;
}

.timerColumn {
	min-width:300px;
	max-width:380px;
}

.btn,.timer_btn_container > .timer_btn {
  font-family:ralewaybold,Verdana, Geneva, "DejaVu Sans", sans-serif;
  text-align:center;
  vertical-align:middle;
  -moz-border-radius:.25em;
  -webkit-border-radius:.25em;
  border-radius:.25em;
  color:rgba(250,255,250,1);
  background-color:rgba(0, 180, 80, .7);
  border:1px solid;
  border-color:#B5FFB5;
  display:inline-block;
  padding: 5px 10px;
  font-size: 1.2em;
  /*take up the whole container*/
  width:100%;
}

input.timesetText,::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.9);
}
input.timesetText, :-ms-input-placeholder{   
   color: rgba(255, 255, 255, 0.9);
}
input.timesetText,::-moz-placeholder{   /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.9);
}
input.timesetText,:-moz-placeholder{  /* Firefox 18- */
   color: rgba(255, 255, 255, 0.9);
}

.timerContainer{
  font-size:3.25em;
}
.timerContainer .timeSetInput,.timerContainer .timeSetInput:disabled{
  font-size:1em;
}

.timerContainer  .timerEditor, .timerContainer  .timerDisplay{
  color:rgba(255, 255, 255, 0.9);
  text-align:center;
}

.timerContainer  .timerEditor  .timeSetInput,.timerContainer  .timeSetInput:disabled{
  font-family:monospace;
  text-align:center;
  color:rgba(255, 255, 255, 0.8);
  border-radius:.25em;
}

.timerContainer  .timeSetInput{
  background-color:rgba(0, 180, 80, .7);
  color:rgba(255, 255, 255, 1);
}
.timerContainer  .timeSetInput:disabled{
  background-color:rgba(0, 110, 0, .5);
  border-color:rgba(225, 225,225 , 0);
}

.timeSetInput, .timeSetInput:disabled{
	width:1.25em;
	padding:0;
	margin:0;
	border:2px;
}

.timerText {
  font-family:monospace;
  color:rgba(255, 255, 255, 1);
  text-align:center;
  display: inline-block;
}

.evenRow {
  background-color: rgba(26, 110, 30, 0.7);
}

.oddRow {
  background-color: rgba(216, 22, 63, 0.7);
}

.completionsContainer {
  font-size:1.5em;
  padding: 0 3px 0 3px;
}

.completion {
  font-family:ralewaybold,Verdana, Geneva, "DejaVu Sans", sans-serif;
  color:rgba(255, 255, 255, 0.9);
  border-color:rgba(236, 236, 236, 0.6);
  border-style:solid;
  border-width:3px;
  padding: 0 0 0 2px;
}

.completedTimeContainer {
	float:left;
}
