<div class="page liquid">
  <div class="unit size1of5"/>
    &nbsp;
  </div>
  <div class="unit size1of5"/>
    &nbsp;
  </div>
  <div class="unit size1of5 timerColumn"/>
    <div class="line timer_btn_container">
	  <input type="button" class="btn timer_btn" value="set" ng-show="!timerDisplay.editorActive" ng-click="setEditorActive()">
	  <input type="button" class="btn timer_btn" value="start" ng-show="timerDisplay.editorActive" ng-click="startTimerFromEditor()">
    </div>
    <div class="line">
	    &nbsp;
    </div>
    <div class="line timerContainer">
      <div class="timerDisplay" ng-show="!timerDisplay.editorActive" >
	  <input id="hoursInput" type="text" name="hours" class="timeSetInput" disabled="true" ng-model="timerDisplay.timeRemaining.hour"  size="2" >
	  <div class="timerText ">:</div> 
	  <input id="hoursInput" type="text" name="hours" class="timeSetInput" disabled="true" ng-model="timerDisplay.timeRemaining.minute"  size="2" >
	  <div class="timerText ">:</div> 
	  <input id="hoursInput" type="text" name="hours" class="timeSetInput" disabled="true" ng-model="timerDisplay.timeRemaining.second"  size="2" >
      </div>
      <div ng-show="timerDisplay.editorActive" class="timerEditor">
	  <input id="hoursInput" type="text" name="hours" class="timeSetInput" ng-model="timerDisplay.inputHours" ng-change="hourMask()" size="2" placeholder="00" >
	  <div class="timerText ">:</div> 
	  <input id="minutesInput" type="text" name="minutes" class="timeSetInput" ng-model="timerDisplay.inputMinutes" ng-change="minuteMask()" size="2" placeholder="00">
          <div class="timerText ">:</div>
	  <input id="secondsInput" type="text" name="seconds" class="timeSetInput" ng-model="timerDisplay.inputSeconds" ng-change="secondMask()" size="2" placeholder="00">
      </div>
    </div>
    <div class="line"> &nbsp; </div>
    <div class="line">
      <div class="unit size1of2"/>
        <div class="timer_btn_container">
          <input type="button" class="btn timer_btn" value="pause" ng-click="pause()" >
        </div>
      </div>
      <div class="unit size1of2 last"/>
        <div class="timer_btn_container">
          <input type="button" class="btn timer_btn" value="resume" ng-click="resume()" >
        </div>
      </div>
    </div>
    <div class="line"> &nbsp; </div>
    <div class="line">
        <div id="completed" class="completionsContainer" >
		<div class="completion line">
	          <div class="unit size1of2 completedTimeContainer">finished:</div>
	          <div class="unit size1of2">at:</div>
	        </div>
                <div  ng-repeat="completedTime in completedTimes">
              	  <div ng-class-even="'evenRow'" ng-class-odd="'oddRow'" class="completion line" >
              	    <div class="unit size1of2 completedTimeContainer">{{completedTime.time}}</div>
              	    <div class="unit size1of2 last">{{completedTime.at}}</div>
              	  </div>
                </div>
        </div>
    </div>
    <!-- ng repeated lines -->
  </div>
  <div class="unit size1of5"/>
    &nbsp;
  </div>
  <div class="unit size1of5 last"/>
    &nbsp;
  </div>
</div>
