<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-3"/></div>
  <div class="pure-u-1 pure-u-lg-1-3"/>
  <div class="pure-u-content">
          <div class="pure-u-1"><div class="pure-u-content"><p>&nbsp;</p></div></div>
          <div class="pure-u-1 timerColumn"/>
              <div class="pure-u-content timer_btn_container">
                  <button class="timer_btn set_btn" ng-show="!timerDisplay.editorActive" ng-click="clickSet()">set</button>
                  <button class="timer_btn start_btn" ng-show="timerDisplay.editorActive" ng-click="clickStart()">start</button>
              </div>
              <div class="pure-g timerContainer">
                  <div class="pure-u-1">
              	    <div class="pure-u-content">
                             <div class="timerDisplay" ng-show="!timerDisplay.editorActive">
                               <input id="hoursInput" type="text" class="digitDisplay timeDisplayInput" disabled="true" ng-model="timerDisplay.timeRemaining.hour"  size="2" >
                               <span class="digitDisplay">:</span> 
                               <input id="hoursInput" type="text" class="digitDisplay timeDisplayInput" disabled="true" ng-model="timerDisplay.timeRemaining.minute"  size="2" >
                               <div class="timerText ">:</div> 
                               <input id="hoursInput" type="text" class="digitDisplay timeDisplayInput" disabled="true" ng-model="timerDisplay.timeRemaining.second"  size="2" >
                             </div>
                             <div class="timerEditor" ng-show="timerDisplay.editorActive">
                                <input id="hoursInput" type="text" name="hours" class="digitDisplay timeSetInput" ng-model="timerDisplay.inputHours" ng-change="hourMask()" size="2" placeholder="00" >
                                <div class="timerText ">:</div> 
                                <input id="minutesInput" type="text" name="minutes" class="digitDisplay timeSetInput" ng-model="timerDisplay.inputMinutes" ng-change="minuteMask()" size="2" placeholder="00">
                                <div class="timerText ">:</div>
                                <input id="secondsInput" type="text" name="seconds" class="digitDisplay timeSetInput" ng-model="timerDisplay.inputSeconds" ng-change="secondMask()" size="2" placeholder="00">  
                             </div>
                          </div>
                  </div>
              </div>
              <div class="pure-g">
                <div class="pure-u-1"/>
                  <div class="pure-u-content timer_btn_container">
                    <input type="button" class="btn timer_btn resume_btn" value="resume" ng-show="timerDisplay.resumeAvailable" ng-click="clickResume()" >
                    <input type="button" class="btn timer_btn pause_btn" value="pause" ng-show="timerDisplay.pauseAvailable" ng-click="clickPause()" >
                    <input type="button" class="btn timer_btn" style="visibility:hidden;" ng-show="!timerDisplay.resumeAvailable && !timerDisplay.pauseAvailable">
                  </div>
                </div>
              </div>
            <div class="pure-u-1">&nbsp;</div>
              <div class="pure-g">
                  <div id="completed" class="pure-u-1 completionsContainer" ng-show="showCompletedTimes()" >
              	<div class="pure-u-content completion">
              	  <div class="pure-g">
              		  <div class="pure-u-1-2"><div class="pure-u-content">finished:</div></div>
              		  <div class="pure-u-1-2"><div class="pure-u-content">at time:</div></div>
              	  </div>
                      </div>
                      <div  ng-repeat="completedTime in completedTimes">
                        	  <div class="completion pure-g" ng-class-even="'evenRow'" ng-class-odd="'oddRow'">
              	            <div class="pure-u-1-2"><div class="pure-u-content completedTimeContainer">{{completedTime.time}}</div></div>
                        	    <div class="pure-u-1-2"><div class="pure-u-content completedTimeContainer">{{completedTime.at}}</div></div>
                        	  </div>
                      </div>
                  </div>
               </div>
          </div>
        </div> 
    </div>
  <div class="pure-u-1 pure-u-lg-1-3"/></div>
</div>
