<div>
<div id="timerFace" >
  <div id="timeRemaining" class="timerText" ng-show="!timerDisplay.editorActive" >{{timerDisplay.timeRemaining}}</div>
  <div id="editor" ng-show="timerDisplay.editorActive">
  	<input id="hoursInput" type="text" name="hours" class="timeText" ng-model="timerDisplay.inputHours" ng-change="hourMask()" size="2" placeholder="00" >:
  	<input id="minutesInput" type="text" name="minutes" class="timeText" ng-model="timerDisplay.inputMinutes" ng-change="minuteMask()" size="2" placeholder="00">:
  	<input id="secondsInput" type="text" name="seconds" class="timeText" ng-model="timerDisplay.inputSeconds" ng-change="secondMask()" size="2" placeholder="00">
  </div>
  </div>

	<!--todo make this a start/stop toggle -->
  <div>
  	<!--<input type="button" value="pomodoro" ng-click="startPomodoro">-->
  	<input type="button" value="set" ng-click="setEditorActive()">
  	<input type="button" value="start" ng-click="startTimerFromEditor()">
  	<input type="button" value="pause" ng-click="pause()">
  	<input type="button" value="resume" ng-click="resume()">
  </div>
  <div class="greenRow">&nbsp</div>
  <div class="quarterWidth">completed timers:</div>
  <div id="completed" class="quarterWidth">
	  <div class="completed"  ng-repeat="completedTime in completedTimes">
		  <div ng-class-odd="'greenRow'" ng-class-even="'greyRow'">
			  <span>{{completedTime.time}}</span>
			  <span> at </span>
			  <span>{{completedTime.at}}</span>
		  </div>
	  </div>
  </div>
</div>
